<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-4">
			
		  <p>&copy 2020 Hemang Chawla. <br/>
		    Eindhoven, Netherlands
			  </p>
            
		</div>
		<div class="col-sm-4"> </div>
		<div class="col-sm-4">
		  Contact: <br/>
			<a href='mailto:gmail.com'><span class="fas fa-fw fa-envelope-square"></span></a> 
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
