<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-4">
			
		  <p>&copy 2020 Hemang Chawla. <br/>
		    Eindhoven, Netherlands
			  </p>
            
		</div>
		<div class="col-sm-4"> </div>
		<div class="col-sm-4">
		  Contact: <br/>
			<a href='mailto:hemangchawla@gmail.com'><span class="fa fa-envelope-square fa-lg"></span></a>&nbsp
			{% if site.footer.links %}
      			  {% for link in site.footer.links %}
        		    {% if link.label and link.url %}
          		      <a href="{{ link.url }}" rel="nofollow noopener noreferrer"><span class="{{ link.icon | default: 'fa fa-link' }} fa-lg "></span></a>&nbsp
        		    {% endif %}
      			  {% endfor %}
    			{% endif %}
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
